# ============================================================================
# 容器环境变量/docker-compose.yaml变量
# ============================================================================
HOST_IP=0.0.0.0
# 域名 / 主机IP地址
HOME_URL=pwd.company.com
NGINX_HTTP_PORT=8001
# 是否启用HTTPS（true/false）
ENABLE_HTTPS=false
NGINX_HTTPS_PORT=8443
# SSL证书和私钥文件的名称（相对于nginx/conf目录）
# 将对应名称的证书和私钥文件到项目的run/nginx/certs目录下
CERT_FILE_NAME=server.crt
KEY_FILE_NAME=server.key

DJANGO_PORT=9000
GRACEFUL_TIMEOUT=300
GUNICORN_MAX_REQUESTS=1000
GUNICORN_MAX_REQUESTS_JITTER=100
GUNICORN_TIMEOUT=120
GUNICORN_RELOAD=false
GUNICORN_LOG_LEVEL=info
GUNICORN_KEEPALIVE=65
GUNICORN_WORKERS=1
GUNICORN_THREADS=2
