html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Microsoft Yahei", serif;
    background: #fafafa;
}

a:link {
    text-decoration: none;
}

a:hover {
    cursor:pointer;
}

.a-middle-text {
    text-align: center;
}

.grid {
    padding: 1px;
    line-height: 50px;
    margin-bottom: 15px;
}

.middle-header {
    margin-top: 30px;
    line-height: 50px;
    margin-bottom: 5%;
    border-color: #b7b7b7;
    font-weight: bold;
    text-align: center;
}
.middle-header-title {
    margin-top: 30px;
    line-height: 50px;
    border-color: #b7b7b7;
    font-weight: bold;
}


.layui-panel {
    padding: 10px 20px;
}

.layui-elem-fieldset {
    margin-top: 10%;
    border-color: #b7b7b7;
    border-radius: 6px;
    background: #ffffff;
}