{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>自助密码平台</title>
    <link rel="stylesheet" href="{% static 'css/dmaku.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alert.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/check.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div class="head-container" id="head-container">
    <p>
        密码自助服务平台
    </p>
</div>
<div class="middle-container" id="middle-container">
    <div class="form-container right-content-container">
        {% block right-content %} {% endblock %}
    </div>
    <div class="form-container left-content-container">
        {% block left-content %} {% endblock %}
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                {% block left-overlay %} {% endblock %}
            </div>
            <div class="overlay-panel overlay-right">
                {% block right-overlay %} {% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/dmaku.js' %}"></script>
{% block footer %} {% endblock %}
</body>
</html>