{% extends 'base.html' %}
{% load static %}
{% block headerjs %}<script type="text/javascript" src="{% static 'js/dingtalk.open.js' %}"></script>{% endblock %}
{% block paneltitle %}修改密码{% endblock %}
{% block middleblock %}
<div class="layui-row">
    <form class="layui-form  layui-form-pane" id="changePasswordForm" autocomplete="off">{% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入账号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" lay-verify="required|newpass" lay-verType="tips" name="old_password" id="old_password" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" lay-verify="pass" lay-verType="tips" name="new_password" id="new_password" placeholder="请输入新密码"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" lay-verify="pass|repass" lay-verType="tips" name="confirm_password" id="confirm_password" placeholder="再次确认新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <button type="submit" lay-submit lay-filter="changePassword" class="layui-btn layui-btn-normal layui-btn-fluid">立即提交</button>
        </div>
        <div class="layui-form-item a-middle-text">
            <span class="layui-breadcrumb">
            <a class="layui-text" id="redirect_url" href="/auth"><i class="layui-icon layui-icon-refresh-3"></i> 重置/解锁账号</a>
            </span>
        </div>
    </form>
</div>
{% endblock %}
{% block middleblockfoot %}
<blockquote class="layui-elem-quote layui-quote-nm" id="password-rules-tip">
    新密码8至30位长度，要求包含大小写字母及数字。<br><br>
    如果密码己遗忘，可点击上方<b>[<i class="layui-icon layui-icon-refresh-3"></i> 重置/解锁账号]</b>使用⌊{{ scan_app }}⌉应用内免登录授权并通过身份验证后进行重置/解锁账号。<br>
    * 如果有当弹出提示<b>是否同意授权</b>时，请务必<b>全部同意</b>，否则无法获取关键信息，导致无法正常使用重置/解锁账号！
</blockquote>
{% endblock %}
{% block footercss %}{% endblock %}
{% block footerjs %}
<script>
layui.use(['form', 'app'], function() {
    var form = layui.form;
    var app = layui.app;
    var $ = layui.jquery;
    
    // 初始化应用
    app.init();
    
    // 防重复提交状态
    var isSubmitting = false;
    
    // 动态获取并设置密码验证规则
    app.PasswordUtil.getRules(function(rules) {
        // 更新页面提示文字
        if (rules.message) {
            var $tip = $('#password-rules-tip');
            var originalHtml = $tip.html();
            // 更新第一行密码规则说明
            $tip.html(rules.message + '<br><br>' + originalHtml.substring(originalHtml.indexOf('如果密码己遗忘')));
        }
        
        // 设置表单验证规则
        app.PasswordUtil.setVerifyRules(rules);
    });
    
    // 表单提交
    form.on('submit(changePassword)', function(data) {
        // 防重复提交检查
        if (isSubmitting) {
            app.App.showWarning('正在处理中，请稍候...');
            return false;
        }
        
        isSubmitting = true;
        var loadIndex = app.App.showLoading();
        var $submitBtn = $('button[lay-filter="changePassword"]');
        
        // 禁用提交按钮
        $submitBtn.prop('disabled', true).addClass('layui-btn-disabled');
        
        app.App.request('/api/password/change', data.field)
            .done(function(res) {
                if (res.success) {
                    app.App.showSuccess(res.message, function() {
                        // 清空表单
                        $('#changePasswordForm')[0].reset();
                    });
                } else {
                    app.App.showError(res.message, res.error_code);
                }
            })
            .fail(function(xhr, status, error) {
                // 错误已在 App.request 中统一处理
            })
            .always(function() {
                app.App.hideLoading(loadIndex);
                // 恢复按钮状态
                isSubmitting = false;
                $submitBtn.prop('disabled', false).removeClass('layui-btn-disabled');
            });
        
        return false; // 阻止表单同步提交
    });
});
</script>
{% endblock %}