{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>密码自助服务</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/load.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/check.js' %}"></script>
</head>
<body style="overflow: hidden">

<form name="resetcheck" method="post" action="resetpwd" autocomplete="off">
    {% csrf_token %}
</form>
</body></html>