{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>自助密码平台</title>
    <link rel="stylesheet" href="{% static 'css/dmaku.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alert.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/check.js' %}"></script>
</head>
<body>
<div class="head-container" id="head-container">
    <p>
        密码自助服务平台
    </p>
</div>
<div class="middle-container" id="middle-container">
    <div class="form-container right-content-container">
        <form action="">
        </form>
    </div>
    <div class="form-container left-content-container">
        <form action="/" method="post" autocomplete="off">
            {% csrf_token %}
            <h1>修改密码</h1>
            <span>新密码8至30位长度，要求包含大小写字母及数字。</span>
            <input type="text" id="username" name="username" placeholder="账号，格式：abc\lisi、lisi、lisi@abc.com">
            <input type="password" id="old_password" name="old_password" placeholder="旧密码">
            <input type="password" id="new_password" name="new_password" placeholder="新密码">
            <input type="password" id="ensure_password" name="ensure_password" placeholder="再次确认新密码">
            <p></p>
            <button id="btn_modify" type="submit">提交</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>我要修改密码</h1>
                <p>记得自己的旧密码，需要自行修改</p>
                <p>⬇️⇓点它</p>
                <button class="ghost" id="modifyPwd">我要修改密码</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>忘记密码或被锁</h1>
                <p>如果密码己遗忘，可通过使用⌊{{ scan_app }}⌉OAuth2授权通过身份验证后方可重置</p>
                <p>当弹出<b>是否同意授权</b>时，请务必<b>全部同意</b>，否则无法获取关键信息，导致无法正常重置/解锁账号！</p>
                <p>⬇️点它</p>
                <a class="ghost" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid={{ app_id }}&agentid={{ agent_id }}&redirect_uri={{ redirect_url }}&response_type=code&scope=snsapi_privateinfo&state=#wechat_redirect">我要重置密码</a>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/dmaku.js' %}"></script>
<script>
    let oauth2_inner = document.getElementsByClassName("form-container right-content-container")
    BtnClick("#btn_modify", 'modify',{{ unsecpwd|safe }})
</script>
</body>
</html>